In [3]:
import pandas as pd

df = pd.read_csv('mobile.csv', index_col=0)
df.head()

,battery_power,clock_speed,four_g,int_memory,n_cores,pc,ram,talk_time,touch_screen,wifi,price_range
0,1142,1.4,0,6,8,8,663,5,1,1,0
1,728,1.7,1,5,2,20,834,5,1,0,0
2,1868,0.5,1,40,8,17,298,17,1,0,0
3,890,2.2,0,44,8,13,751,3,0,0,0
4,1433,1.6,0,4,8,11,258,4,1,1,0

In [6]:
chosen_data = df[['battery_power', 'clock_speed', 'int_memory', 'ram']]
chosen_data.head()

   battery_power  clock_speed  int_memory  ram
0           1142          1.4           6  663
1            728          1.7           5  834
2           1868          0.5          40  298
3            890          2.2          44  751
4           1433          1.6           4  258

In [13]:
from sklearn.cluster import KMeans
import numpy as np

kmeans = KMeans(n_clusters=5)
kmeans.fit(chosen_data)
kmeans.inertia_

84717785.29243049