In [111]:
import pandas as pd

df = pd.read_csv('data/mobile.csv', index_col=0)
df.head()

,battery_power,clock_speed,four_g,int_memory,n_cores,pc,ram,talk_time,touch_screen,wifi,price_range
0,1142,1.4,0,6,8,8,663,5,1,1,0
1,728,1.7,1,5,2,20,834,5,1,0,0
2,1868,0.5,1,40,8,17,298,17,1,0,0
3,890,2.2,0,44,8,13,751,3,0,0,0
4,1433,1.6,0,4,8,11,258,4,1,1,0

In [45]:
chosen_data = df[['battery_power', 'pc', 'int_memory', 'ram']]
chosen_data.head()

   battery_power  pc  int_memory  ram
0           1142   8           6  663
1            728  20           5  834
2           1868  17          40  298
3            890  13          44  751
4           1433  11           4  258

In [73]:
import numpy as np

X = np.array(chosen_data)
me = np.mean(X, axis=0) # mean
ra = np.ptp(X, axis=0) # range
#X = np.divide(np.subtract(X, me), ra)

me2 = np.mean(X, axis=0)

In [94]:
from sklearn.cluster import KMeans

n_clusters=5
min_inertia = np.inf

for i in range(20):
    kmeans = KMeans(n_clusters=n_clusters)
    kmeans.fit(X)
    preds = kmeans.labels_
    if kmeans.inertia_ < min_inertia:
        min_inertia = kmeans.inertia_
        best_partition, best_deltas, best_means = [], [], []
        
        for j in range(n_clusters):
            cluster = X[np.where(preds==j)]
            cluster_means = np.mean(cluster, axis=0)
            cur_delta = 100 * (np.divide(np.subtract(cluster_means, me), me))
            best_partition.append(cluster)
            best_means.append(cluster_means)
            best_deltas.append(cur_delta)

for i in range(n_clusters):
    print("delta {}".format(i), best_deltas[i], "#el:", best_partition[i].shape[0])
print("min inertia", min_inertia)

delta 0 [32.41156788  6.75039246  5.03050535  6.6220064 ] #el: 70
delta 1 [ 4.85761461 -0.85470085  5.8178888  64.81159708] #el: 100
delta 2 [ 28.7884013   -0.44658538  -4.40762531 -63.70957439] #el: 73
delta 3 [-29.34943511  -0.92447235   2.41356817 -42.62114318] #el: 84
delta 4 [-32.75030081  -3.7917942  -11.16311415  17.62020276] #el: 73
min inertia 84719263.06797129

In [101]:
result = pd.DataFrame(best_deltas, columns=chosen_data.columns)
result['elements'] = [len(part) for part in best_partition]
print(min_inertia)
result

84719263.06797129

   battery_power        pc  int_memory        ram  elements
0      32.411568  6.750392    5.030505   6.622006        70
1       4.857615 -0.854701    5.817889  64.811597       100
2      28.788401 -0.446585   -4.407625 -63.709574        73
3     -29.349435 -0.924472    2.413568 -42.621143        84
4     -32.750301 -3.791794  -11.163114  17.620203        73

In [105]:
df = pd.DataFrame(["{'kek': 'shmek'}"]*5)
df

                  0
0  {'kek': 'shmek'}
1  {'kek': 'shmek'}
2  {'kek': 'shmek'}
3  {'kek': 'shmek'}
4  {'kek': 'shmek'}

In [109]:
df[0].astype(dict)

TypeError: object of type 'type' has no len()